:root {
    --primary-color: #00dc82;
    --secondary-color: #818fa4;
    --accent-color: #cbd5e1;
    --highlight-color: #f7b063;
    --background-color: #1e293b;
    --svg-primary-color: invert(75%) sepia(47%) saturate(3985%) hue-rotate(105deg) brightness(94%) contrast(102%);
    --svg-secondary-color: invert(61%) sepia(7%) saturate(905%) hue-rotate(177deg) brightness(91%) contrast(91%);;
}

* {
    font-size: 16px;
}

html {
    background-color: #020420;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
}

ul li ul li span.silent {
    color: var(--secondary-color);
}

ul > li span.silent {
    color: var(--highlight-color);
}

.layout {
    display: flex;
}

.sidebar {
    min-width: 10%;
    min-height: 100vh;
}

.header {
    display: flex;
    color: #fff;
    gap: 8px;
    align-items: center;
    padding: 0 0 18px 15px;
    margin-top: 20px;
    user-select: none;
}

.header__title {
    font-size: 1.4rem;
    font-weight: 500;
}

.heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
}

.main {
    flex: 1;
}

.silent {
    color: var(--secondary-color);
}

.full-width {
    width: 100%;
}

.flexbox {
    display: flex;
}

.tabcontent {
    display: none;
    padding: 0 20px;
    color: #fff;
    flex-basis: 85%;
    flex-direction: column;
    margin-top: 10px;
}

.tabs {
    display: flex;
    flex-direction: column;
    flex-basis: 8%;
    padding: 0 20px;
}

.tablinks {
    background-color: #020420;
    color: var(--secondary-color);
    padding: 10px 16px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: color 0.3s ease;
    border-left: 1px solid var(--secondary-color);
}

.tablinks#refetch-trigger {
    border-top: 1px dashed var(--secondary-color);
}

.tablinks img {
    width: 24px;
    height: 24px;
    filter: invert(61%) sepia(7%) saturate(905%) hue-rotate(177deg) brightness(91%) contrast(91%);
}

.tablinks:hover img, .tablinks.active img {
    filter: invert(75%) sepia(47%) saturate(3985%) hue-rotate(105deg) brightness(94%) contrast(102%);
}

.tablinks.active {
    color: var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.tablinks:hover {
    color: #fff;
    border-left: 1px solid #fff;
}

.divider {
    height: 1px;
    background-color: var(--secondary-color);
}

.divider--margined {
    margin: 16px 0;
}

.indicator-card {
    width: 18rem;
    display: flex;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    justify-content: space-between;
}

.indicator-card__label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: filter 0.2s ease-in;
    font-size: 32px;
    color: var(--primary-color);
    text-transform: capitalize;
}

.indicator-card__label img {
    filter: invert(61%) sepia(7%) saturate(905%) hue-rotate(177deg) brightness(91%) contrast(91%);
}

.indicator-card:hover .indicator-card__label img {
    filter: var(--svg-primary-color);
}

.indicator-card__label img {
    width: 48px;
    height: 48px;
}

.indicator-card__body ul {
    padding: 0;
    list-style: none;
}

.indicator-card__body ul .silent {
    color: var(--secondary-color);
}

/* overview tab */

.widgets {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.widget {
    flex: 1;
    cursor: pointer;
    max-width: 200px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 22px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: border 0.3s ease;
}

.widget:hover, .widget:hover .widget__meta {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.widget--covered img {
    filter: invert(75%) sepia(47%) saturate(3985%) hue-rotate(105deg) brightness(94%) contrast(102%);
}

.widget__highlight {
    font-size: 28px;
    font-weight: 500;
}

.widget__highlight img {
    width: 36px;
    height: 36px;
    display: none;
}

.widget__meta {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    color: var(--accent-color);
}

.widget__cover, .widget__meta {
    display: flex;
    align-items: center;
}

.widget__name {
    font-weight: 500;
}

.widget__cover img {
    width: 20px;
}

/* Routes tab */

.tabcontent#routes ul {
    margin: 0;
}

.routes {
    max-width: 65rem;
    display: flex;
    flex-direction: column;
}

.route-item {
    display: flex;
    gap: 10px;
    padding: 10px 0 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.route-item:hover {
    border: 1px solid var(--primary-color);
}

.routes--heading .route-item {
    padding-bottom: 12px;
    font-weight: 500;
    color: var(--highlight-color);
}

.routes--heading .route-item:hover {
    border: 1px solid transparent;
}

.route-item__status {
    flex: 0 0 8%;
    text-align: right;
}

.route-item__status span {
    color: var(--primary-color);
    background: #004954;
    border-radius: 4px;
    padding: 4px 10px;
    display: none;
}

.route-item__status span.active {
    display: inline;
}

.route-item__path {
    flex: 0 0 32%;
}

.route-item__path--active {
    color: var(--primary-color);
}

.route-item__name {
    flex: 0 0 32%;
    color: var(--accent-color);
}

.route-item__label {
    flex: 1 0 24%;
    color: var(--secondary-color);
}

.routes--heading .route-item .route-item__name,
.routes--heading .route-item .route-item__label {
    color: var(--highlight-color);
}

.routeItem {
    cursor: pointer;
    border: 1px solid #1e293b;
    border-radius: 5px;
    color: #fff;
    padding: 10px 0 0;
    margin-bottom: 10px;
}

.routeItem--hasError {
    border-color: #bb1616;
}

.routeItem .routeItem__labels {
    color: var(--secondary-color);
}

.routeItem summary {
    padding: 0 15px 10px;
}

.routeItem summary:hover {
    color: var(--primary-color);
}

.routeItem > div {
    background-color: #1e293b;
    color: #aeb1c3;
    margin: 5px 0 0;
    padding: 10px;
    white-space: pre-wrap;
}

.routeItem > div > ul {
    margin: 0;
}

.tabcontent#ssrData {
    margin-top: 10px;
}

.row {
    margin-bottom: 5px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 18px;
}

.section-head {
    display: flex;
    gap: 14px;
    margin-bottom: 10px;
}

.section-head__label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-head__label img {
    width: 36px;
    height: 36px;
    filter: var(--svg-secondary-color);
}

.section-head__label--no-filter img {
    filter: inherit;
}

.section-head__title {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.section-head__subtitle {
    font-size: 16px;
    color: #909eb2;
}

.json__string { color: #C3E88D; }
.json__number { color: #BABED8; }
.json__boolean { color: #FFCB6B; }
.json__null { color: #FFCB6B; }
.json__key { color: #F07178; }

/* configs */
#configList {
   gap: 0.8rem;
}
#configList > ul {
    padding: 0 20px;
    margin: 0;
}

.tabbed-card {
    max-width: 30rem;
}

.tabbed-card__header {
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0.75rem 1rem;
    border: 1px solid #334155;
    font-weight: 500;
}

.tabbed-card__body {
    background: var(--background-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.8571429em 1.1428571em;
    border: 1px solid #334155;
    border-top: 0;
}

.tabbed-card__body>ul {
    margin: 0;
    padding: 0 1.1428571em;
}

/* i18n */
#i18nMessagesList {
    margin-top: 10px;
    line-height: 24px;
}

div#i18nMessagesList:empty::after {
    content: "Messages are empty";
}

#i18n ul {
    margin: 0;
}


#i18n .heading--offset {
    margin: 25px 0 0;
}

.i18nItem span {
    cursor: pointer;
}
.i18nItem span::before {
    content: '"';
}

.i18nItem__key {
    color: var(--primary-color);
}

.i18nItem__key::after {
    content: '": ';
}

.i18nItem__value {
    color: #aeb1c3;
}

.i18nItem__value::after {
    content: '"';
}

.i18nItem span:hover {
    color: var(--highlight-color);
}

input#i18nMessagesInput {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

/* nuxt-not-found state */
.nuxt-not-found {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 1;
    display: none;
    color: #fff;
    background-color: #1e293b;
    font-size: 2rem;
    padding-top: 30px;
    cursor: pointer;
}

.nuxt-not-found:hover {
    text-decoration: underline;
    color: var(--accent-color);
}


.refetch-trigger {
    display: flex;
    border: 0;
    border-radius: 5px;
    color: #000;
    background: var(--primary-color);
    padding: 10px 12px;
    cursor: pointer;
    margin: 20px auto;
}

.refetch-trigger:hover {
    background: #16c37e;
}

table.internals {
    border-radius: 6px;
    border-collapse: separate;
    border: 1px solid #334155;
    border-spacing: 0;
}

table.internals th,
table.internals td {
    border: none;
    padding: 10px;
    color: #fff;
}

table.internals tbody td {
    background-color: #1e293b;
}

tbody tr td:nth-child(1) {
    color: #FFCB6B;
}
